*{
    color: #484848;
}
.main{
    margin: 3%;
}
.title{
    text-align: center;
    padding-bottom: 20px;
}

.acount{
    text-align: right;
    padding-top: 30px;
}
a{
    text-decoration: none;
    color: #484848;
}

.x-icon{
    border-radius: 50%;
    height: 20px;
    line-height: 30px;
}

.main-comment span{
    font-size: 10px;
}