*{
    color: #484848;
}
#youtube-list img{
    width: 80%;
    height: auto;
}
#place-name{
    text-decoration: underline;
    padding-bottom: 10px;
}
.main{
    margin: 3% 3% 0 3%;
    
}
.video-wrap{
    padding-bottom: 80px;
}

.btn-wrap{
    position: fixed;
    bottom: 20px;    
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.btn-wrap a{
    flex-direction: row;
    text-decoration: none;
    color: #575757;
    padding: 5px;
    border-radius: 5px;
    
}

#routo{
    background-color:#f5bce0;
}

#back{
    background-color: rgb(146, 194, 216);
}